{% extends "shared/_layout.html" %}
<!--============ start main content ==============-->

{% block content %}
<section class="content my-25">
    <div class="container-fluid">
        <div class="row">
            {% include "user_panel_module/include/profile-sidebar.html" %}
            <div class="col-lg-9">
                <div class="product-slider-box-title">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">ویرایش</span>
                        <span>رمز عبور</span>
                    </h4>
                </div>

                <div class="slider-parent content-box rounded-3">
                    <div class="container-fluid">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row gy-2">
                                {% for field in forms %}
                                <div class="col-md-4">
                                    <div class="comment-item mb-3">
                                        {{field.errors}}
                                        {{field}}
                                        <label for="floatingInputoldPasswd" class="form-label label-float fw-bold">{{field.label}}</label>
                                    </div>
                                </div>
                                {% endfor %}                     
                                <div class="col-12">
                                    <input type="submit" value="تغییر" class="btn main-color-one-bg px-5 w-100-in-400 pt-2">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}



<!--============ end main content ==============-->