{% extends 'shared/_layout.html' %}
{% load poll_extras %}

{% block title %}صفحه اصلی فروشگاه{% endblock title %}
{% block content %}
<!--============ start main slider ==============-->

<section class="main-slider">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-xl-9 col-lg-8">
                <div class="home-slider shadow-box">
                    <div class="slider__layer slider__layer--top"></div>
                    <div class="slider__layer slider__layer--bottom"></div>
                    <div class="swiper homeSlider" id="">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="">
                                    <img alt="" class="img-fluid" src="/static/assets/image/slider/slider-1.jpg">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img alt="" class="img-fluid"  src="/static/assets/image/slider/slider-2.jpg">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img alt="" class="img-fluid"  src="/static/assets/image/slider/slider-3.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-next d-lg-flex d-none"></div>
                        <div class="swiper-button-prev d-lg-flex d-none"></div>
                        <div class="swiper-pagination-bg">
                            <div>
                                <svg fill="none" height="75" viewBox="0 0 231 75" width="231"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z"
                                          fill="#FCFCFC"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="swiper suggetMoment">
                    <div class="swiper-wrapper position-relative">
                        {% for product in amazing_offers|slice:3 %}
                        <div class="swiper-slide">
                            <div class="product-box">
                                <div class="product-timer">
                                    <div class="timer-label">
                                        <span>{{product.discount_percent}}% تخفیف</span>
                                    </div>
                                    <div class="timer">
                                        <div class='countdown' data-date="{{ product.discount_expiry|date:'Y-m-d' }}" data-time="{{ product.discount_expiry|date:'H:i' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <img alt="" class="img-fluid"
                                         src="{{product.image.url}}">
                                </div>
                                <div class="product-title">
                                    <div class="title">
                                        <p class="title-font font-14">
                                        {{product.short_description}}
                                        </p>
                                    </div>
                                </div>
                                <div class="product-action flex-column mt-3">
                                    <div class="price d-flex justify-content-between w-100 align-items-baseline">
                                        <p class="new-price">{{product.discount_price|three_digits_currency}}<span class="font-12">تومان</span></p>
                                        <p class="old-price">{{product.price|three_digits_currency}}</p>
                                    </div>
                                    <div class="link w-100 mt-4 d-flex align-items-center justify-content-between">
                                        <a class="btn border-0 d-flex align-items-center rounded-3 main-color-one-bg" href="{% url 'product-detail' slug=product.slug %}">
                                            مشاهده
                                            <i class="bi bi-arrow-left ms-4 text-white"></i>
                                        </a>
                                        <a class="btn border-0 d-flex align-items-center rounded-3 main-color-two-bg" href="">
                                            <i class="bi bi-plus fs-5 text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="swiper-progress-bar">
                            <span class="slide_progress-bar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end main slider ==============-->

<!--============ start feature ==============-->

<section class="site-feature d-lg-block d-none">
    <div class="container-fluid">
        <div class="row py-3 pt-0 shadow-box rounded-3 row-cols-5 g-3 bg-white">
            <div class="col border-end">
                <div class="feature-item ">
                    <div class="feature-icon">
                        <img src="/static/assets/image/feature/history.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-desc ms-lg-3 text-center">
                        <h6>بازگشـت وجـه
                        </h6>
                        <p class="text-muted my-2 d-none d-xl-block">در صورت عدم رضایت</p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="feature-item ">
                    <div class="feature-icon">
                        <img src="/static/assets/image/feature/credit-card.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-desc ms-lg-3 text-center">
                        <h6>تضمین قیمت
                        </h6>
                        <p class="text-muted my-2 d-none d-xl-block">کمترین قیمت بازار
                        </p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="feature-item ">
                    <div class="feature-icon">
                        <img src="/static/assets/image/feature/fast.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-desc ms-lg-3 text-center">
                        <h6>ارسـال سـریع
                        </h6>
                        <p class="text-muted my-2 d-none d-xl-block">امن و مطمئن</p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="feature-item ">
                    <div class="feature-icon">
                        <img src="/static/assets/image/feature/headphone.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-desc ms-lg-3 text-center">
                        <h6>پشتیبانی عالی
                        </h6>
                        <p class="text-muted my-2 d-none d-xl-block">در صورت عدم رضایت</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="feature-item ">
                    <div class="feature-icon">
                        <img src="/static/assets/image/feature/badge.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-desc ms-lg-3 text-center">
                        <h6>اصالت کالا
                        </h6>
                        <p class="text-muted my-2 d-none d-xl-block">امن و مطمئن</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end feature ==============-->

<!--============ start category ==============-->

{% include "product_module/include/category-slider-partial.html" %}

<!--============ end category ==============-->

<!--============ start amazing ==============-->

<section class="amazing my-25 py-40 shadow-box">
    <div class="container-fluid">
        <div class="swiper free-mode" id="amazing">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide ml-0">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="/static/assets/image/amazingv2.png" class="img-fluid amazing-image" alt="">
                        <a href="{% url 'product-list' %}?sort=discounts" class="mt-2 text-white">مشاهده همه <i class="bi bi-arrow-left-short"></i></a>
                    </div>
                </div>
                {% for product in amazing_offers %}
                <div class="swiper-slide">
                    {% include "product_module/include/product-item-partial.html" %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next d-sm-flex d-none"></div>
            <div class="swiper-button-prev d-sm-flex d-none"></div>
        </div>
    </div>
</section>

<!--============ end amazing ==============-->

<!--============ start banner ==============-->

<section class="banner">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-md-4">
                <div class="banner-item running-top">
                    <a href="">
                        <img src="/static/assets/image/banner/banner-1.webp" class="w-100 rounded-3" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-item running-top">
                    <a href="">
                        <img src="/static/assets/image/banner/banner-2.webp" class="w-100 rounded-3" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-item running-top">
                    <a href="">
                        <img src="/static/assets/image/banner/banner-3.webp" class="w-100 rounded-3" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end banner ==============-->

<!--============ start product slider ==============-->

<section class="product-slider  site-slider">
    <div class="container-fluid">
        <div class="product-slider-box-title">
            <div class="row align-items-center">
                <div class="col-lg-8 col-6">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">گوشی</span>
                        <span>موبایل</span>
                    </h4>
                </div>
                <div class="col-lg-4 col-6">
                    <div class="text-end">
                        <a href="{% url 'product-categories-list' cat='mobile' %}" class="btn main-color-one-bg rounded-3">مشاهده همه</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper pro-slider">
            <div class="swiper-wrapper align-items-center">
                {% for product in mobiles %}
                <div class="swiper-slide">
                    {% include "product_module/include/product-item-partial.html" %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>

<!--============ end product slider ==============-->

<!--============ start quick select ==============-->

<section class="quick-select">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="product-slider-box-title">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">گوشی بر اساس</span>
                        <span>قیمت</span>
                    </h4>
                </div>
                <div class="quick-select-item">
                    <div class="row mt-3 align-items-center g-3">
                        {% for filter in price_filters %}
                        <div class="col-lg-4 col-sm-6">
                            <a href="{% url 'product-categories-list' cat='mobile' %}?end_price={{filter.max_price}}">
                                <div class="quick-select-item-select">
                                    <h6 class="fw-normal">تا <span class="fw-bold fs-3">{{filter.max_price|first_two_digits}}</span> میلیون</h6>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-slider-box-title">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">لپتاپ بر اساس</span>
                        <span>قیمت</span>
                    </h4>
                </div>
                <div class="quick-select-item">
                    <div class="row mt-3 align-items-center g-3">
                        {% for filter in price_filters %}
                            <div class="col-lg-4 col-sm-6">
                                <a href="{% url 'product-categories-list' cat='laptop' %}?end_price={{filter.max_price}}">
                                    <div class="quick-select-item-select">
                                        <h6 class="fw-normal">تا <span class="fw-bold fs-3">{{filter.max_price|first_two_digits}}</span> میلیون</h6>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end quick select ==============-->

<!--============ start banner ==============-->

<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-item running-top">
                    <a href="">
                        <img src="/static/assets/image/banner/banner-4.webp" class="w-100 rounded-3" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end banner ==============-->

<!--============ start product slider ==============-->

<section class="product-slider  site-slider">
    <div class="container-fluid">
        <div class="product-slider-box-title">
            <div class="row align-items-center">
                <div class="col-lg-8 col-6">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">محصولات</span>
                        <span>جدید</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="swiper pro-slider">
            <div class="swiper-wrapper align-items-center">
                {% for product in latest_products %}
                <div class="swiper-slide">
                    {% include "product_module/include/product-item-partial.html" %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>


<!--============ start offer ==============-->

<section class="offers">
    <div class="container-fluid">
        <div class="offer slider-parent">
            <div class="row">
                <div class="col-lg-8">
                    <div  class="swiper" id="offerItem">
                        <div class="swiper-wrapper">
                            {% for product in amazing_offers %}
                            <div class="swiper-slide">
                                <div class="offer-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="offer-discount">
                                                <span>٪{{product.discount_percent}} تخفیف</span>
                                            </div>
                                            <div class="offer-img">
                                                <img src="{{product.image.url}}" alt=""
                                                     class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="offer-content">
                                                <div class="offer-title d-md-inline-block d-none">
                                                    <h4>پیشنهاد <span class="title-font">شگفت انگیز</span></h4>
                                                </div>
                                                <div class="offer-desc">
                                                    <h4>
                                                        {{product.short_description}}
                                                    </h4>
                                                    <div class="offer-desc-price">
                                                        <span class="old">{{product.price|three_digits_currency}} تومان</span>
                                                        <span class="new">{{product.discount_price|three_digits_currency}} تومان</span>
                                                    </div>
                                                </div>
                                                <div class='countdown' data-date="{{ product.discount_expiry|date:'Y-m-d' }}" data-time="{{ product.discount_expiry|date:'H:i' }}">
                                                </div>

                                                <div class="offer-btn">
                                                    <a href="{% url 'product-detail' slug=product.slug %}">مشاهده</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination d-lg-none d-block"></div>
                    </div>
                </div>
                <div class="col-lg-4 d-lg-block d-none">
                    <div class="offer-item-link">
                        <div class="swiper" id="offerItemLink">
                            <div class="swiper-wrapper">
                                {% for product in amazing_offers %}
                                <div class="swiper-slide">
                                    <div class="offer-item-link-item shadow-sm">
                                        <h6>
                                            {{product.title}}
                                        </h6>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end offer ==============-->

<!--============ start new product ==============-->

<section class="product-row">
    <div class="container-fluid position-relative">
        <div class="product-slider-box-title">
            <div class="row align-items-center">
                <div class="col-lg-8 col-6">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">جدیدترین</span>
                        <span>محصولات</span>
                    </h4>
                </div>
                <div class="col-lg-4 col-6">
                    <div class="text-end">
                        <a href="" class="btn main-color-one-bg rounded-3">مشاهده همه</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-row-parent">
            <div class="row g-4">
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/television4.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/product-image5.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/product-image6.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/product-image3.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/product-image2.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/wach4.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/wach3.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="product-row-item running-top">
                        <a href="">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/static/assets/image/product/wach2.jpg" alt="">
                                </div>
                                <div class="col-8">
                                    <h3 class="text-overflow-1 title-font font-14">ساعت مچی عقربه‌ای مردانه اینویکتا مدل
                                        Automatico Ghost Reserve
                                    </h3>
                                    <div class="cart-canvas-price my-3 d-flex align-items-center justify-content-between">
                                        <p class="mb-0 text-muted-two me-2 font-14 text-decoration-line-through">5,400,000</p>
                                        <h6 class="title-font">3,200,000 تومان</h6>
                                    </div>
                                    <div class="cart-canvas-foot d-flex align-items-center justify-content-end">
                                        <div class="cart-canvas-add">
                                            <button class="btn text-white"><i class="bi bi-basket"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Dottedsquare"></div>
    </div>
</section>

<!--============ end new product ==============-->

<!--============ start banner ==============-->

<section class="banner">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-sm-6">
                <div class="banner-item running-top">
                    <a href="">
                        <img src="/static/assets/image/banner/banner-5.webp" class="w-100 rounded-3" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="banner-item running-top">
                    <a href="">
                        <img src="/static/assets/image/banner/banner-6.webp" class="w-100 rounded-3" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============ end banner ==============-->

<!--============ start blog slider ==============-->

<section class="blog-slider site-slider py-30">
    <div class="container-fluid position-relative">
        <div class="product-slider-box-title">
            <div class="row align-items-center">
                <div class="col-lg-8 col-6">
                    <h4 class="title-font product-slider-box-title-title dot">
                        <span class="main-color-one-color">آخرین مطالب</span>
                        <span>وبلاگ</span>
                    </h4>
                </div>
                <div class="col-lg-4 col-6">
                    <div class="text-end">
                        <a href="" class="btn main-color-one-bg rounded-3">مشاهده همه</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper pro-slider blog-slider-sw">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <div class="blog-item">
                            <div class="blog-item-image">
                                <img src="/static/assets/image/blog/blog-1.png" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-title">
                                    <h6 class="text-overflow-1">رونمایی از پرچمدار جدید سامسونگ </h6>
                                </div>
                                <div class="blog-item-date">
                                    <h6 class="f-800">30</h6>
                                    <span class="d-block">بهمن</span>
                                    <span>1402</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <div class="blog-item">
                            <div class="blog-item-image">
                                <img src="/static/assets/image/blog/blog-2.png" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-title">
                                    <h6 class="text-overflow-1">رونمایی از پرچمدار جدید سامسونگ </h6>
                                </div>
                                <div class="blog-item-date">
                                    <h6 class="f-800">30</h6>
                                    <span class="d-block">بهمن</span>
                                    <span>1402</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <div class="blog-item">
                            <div class="blog-item-image">
                                <img src="/static/assets/image/blog/blog-3.png" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-title">
                                    <h6 class="text-overflow-1">رونمایی از پرچمدار جدید سامسونگ </h6>
                                </div>
                                <div class="blog-item-date">
                                    <h6 class="f-800">30</h6>
                                    <span class="d-block">بهمن</span>
                                    <span>1402</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <div class="blog-item">
                            <div class="blog-item-image">
                                <img src="/static/assets/image/blog/blog-5.jpg" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-title">
                                    <h6 class="text-overflow-1">رونمایی از پرچمدار جدید سامسونگ </h6>
                                </div>
                                <div class="blog-item-date">
                                    <h6 class="f-800">30</h6>
                                    <span class="d-block">بهمن</span>
                                    <span>1402</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </div>
</section>

<!--============ end blog slider ==============-->

{% endblock content %}