<!DOCTYPE html>

<html lang="FA-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'shared/header_references.html'%}

    {% block title %}{% endblock  %}
</head>

<body class="bg-auth">
    <script src="/static/assets/js/jquery-3.7.1.min.js"></script>
    {% include 'shared/footer_references.html' %}
    
    {% block content %}{% endblock %}
    <script src="/static/assets/js/auth.js"></script>
    <script src="/static/assets/plugin/otp-sms/otp-input.js"></script>
    <script src="/static/assets/plugin/otp-sms/otp-laoder.js"></script>

</body>

</html>