<script src="/static/assets/js/modernizr-3.11.2.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle-5.3.2.min.js"></script>
<script src="/static/assets/plugin/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/plugin/timer/timer.js"></script>
<script src="/static/assets/plugin/go-to-top/script.js"></script>
<script src="/static/assets/plugin/rasta-contact/script.js"></script>
<script src="/static/assets/js/swiperInit.js"></script>
<script src="/static/assets/js/megaMenu.js"></script>
<script src="/static/assets/js/app.js"></script>
<script src="/static/assets/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

