<link rel="stylesheet" href="/static/assets/plugin/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/assets/plugin/timer/timer.css">
<link rel="stylesheet" href="/static/assets/plugin/go-to-top/style.css">
<link rel="stylesheet" href="/static/assets/plugin/rasta-contact/style.css">
<link rel="stylesheet" href="/static/assets/css/style.css">
<link rel="stylesheet" href="/static/assets/css/responsive.css">
<link rel="stylesheet" href="/static/assets/plugin/bootstrap-slider/bootstrap-slider.min.css">